<!DOCTYPE html>
<html ng-app='weatherApp'>
  <head>
    <meta charset="utf-8">

    <title>Weather App</title>


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional Bootstrap theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
      <link rel="stylesheet" href="styles.css">


  </head>
  <body ng-app="weatherApp" ng-controller='weatherCtrl' class= "text-center info" ng-style="weatherBackground">
<h1>
{{channelInfo.heading}}
</h1>

<br>



<h2>
{{channelInfo.subHeading1}}
</h2>




<a class="btn-primary btn-lg ">
{{description | uppercase}}<img ng-src="{{icon}}"/>



<a class="btn-lg btn-primary">
{{speed}}
</a>


<a class="btn-lg btn-primary">
{{name}}
</a>

<a class="btn-lg btn-primary" ng-init="tempVal=true" ng-show="tempVal" ng-click="tempVal=!tempVal">
{{fTemp}}
</a>

<a class="btn-lg btn-primary" ng-show="!tempVal" ng-click="tempVal=!tempVal">

<a class="btn-lg btn-primary">
{{fTemp}}
</a>

<a class="btn-lg btn-primary">
{{cTemp}}
</a>




    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="./app.js" charset="utf-8"></script>
    <script src="./weatherCtrl.js" charset="utf-8"></script>

    <!-- <script src="./styles.css" charset="utf-8"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



  </body>
</html>
